.page_container {
    width: 100vw;
    height: 100svh;
    display: flex;

    .create_group_modal {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100svh;
        width: 100vw;
        position: absolute;
        z-index: 2;
        background-color: rgba(47, 47,47, 0.75);
    }
}